<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body align="center">
<p><img src="../res/image/61t58PICkFw.jpg"  alt="快递公司一览" /></p>

<p><a href="http://www.chinapost.com.cn/">中国邮政集团公司</a></p>
<p><a href="http://www.yto.net.cn/">瑞通速递有限公司（圆通）</a></p>
<p><a href="http://www.yundaex.com/">韵达速递有限公司</a></p>
<p><a href="http://www.sto.cn/">申通快递有限公司</a></p>
<p><a href="http://www.htky365.com/">汇通速递有限公司</a></p>
<p><a href="http://www.yyexp.com/">运逸快递有限公司</a></p>
<p><a href="http://sxfy.alibole.com/">陕西飞远文化传播有限公司</a></p>
<p><a href="http://11516438.czvv.com/">陕西联合快递有限责任公司</a></p>
<p><a href="http://www.zjs.com.cn/">宅急送快运有限公司</a></p>
<p><a href="http://1231192.71ab.com/">西安城联速递有限责任公司</a></p>
<p><a href="http://www.zto.cn/">中通快递有限公司</a></p>
<p><a href="http://jd-ex.com/">京邦达贸易有限公司商洛分公司（京东）</a></p>
<p><a href="http://www.sf-express.com/cn/sc/">顺丰速运有限公司</a></p>
<p><a href="http://www.qfkd.com.cn/">全峰快递有限责任公司</a></p>
<p><a href="http://www.ttkdex.com/">商洛天逸速递有限公司（天天）</a></p>
<p><a href="http://www.ane56.com/home/home.jsp">安能物流</a></p>
<p><a href="http://www.deppon.com/">德邦物流</a></p>

</body>
</html>