<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <p><b>我是不是很粗</b></p>

  <p><i>地怎么是歪的</i></p>

  <p><u>oh,见鬼,我下面有条线</u></p>

  <p><s>我是要死了吗</s></p>
  <p><marquee>啦啦啦，我会移动耶！</marquee> </p>

  </body>
</html>
